<h1 mat-subheader>Disponíveis para liga</h1>
<ol>
    <li *ngFor="let a of leagueRecruits">{{a}}</li>
</ol>
<mat-divider></mat-divider>
<h1 mat-subheader>Jogos</h1>
<mat-list>
    <mat-list-item mat-list-item *ngFor="let p of pointsList">
        <!-- <mat-icon mat-list-icon *ngIf="p.inClan">{{p.position}}</mat-icon> -->
        <div mat-list-icon *ngIf="p.inClan">{{p.position}}</div>
        <mat-icon mat-list-icon *ngIf="!p.inClan">directions_run</mat-icon> 
        <strong style="padding-right: 16px; padding-left: 16px;">{{p.cumulative.toString().padStart(4, '0') }}</strong>
        <span>{{p.playerName}}</span>
    </mat-list-item>
</mat-list>